/*raiz para setar as cores*/
:root{
    --grey-blue: #a9b7c0;
    --preto: #141414;
    --minty: rgb(199, 216, 198);
    --light: rgb(239, 217, 193);
    --powder: #CCC8C6;

}

/*reseta tudo*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*base*/

body{
    background-color: white; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*CABEÇALHO*/

header .container-header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

header .logo{
    color:var(--minty);    
    font-family: 'MuseoModerno', cursive;    
    font-size: 45px;    
}

header nav a{
    text-decoration: none;
    color: rgb(112, 122, 112);
    margin-right: 5px;  
    background-color: var(--minty);
    padding: 10px 10px;
    border-radius: 50px;
    opacity: 0.8;
    box-shadow: 5px 5px 5px #CCC8C6 ;
}

/*Hover = quando o mouse passa por cima*/
header nav a:hover{
    background-color: var(--light);
}


/*FILME PRINCIPAL*/

.filme-principal{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
}

/*
.botao{
    background-color: var(--minty);
    border: none;
    color: rgb(134,134,134);

    /*o oriemiro valor é cima e baixo, o segundo é pra direito e esquerda*//*
    padding: 15px 30px;
    position: absolute;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    cursor: pointer;
    transition: .3s ease-out;
}

.botao:hover{
    background-color:var(--light);
    color: rgb(134,134,134);
}

.botao i{
    margin-right: 8px;
}
*/


/*CSS do Carousel*/
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

* {box-sizing:border-box}

/*CSS do Slideshow*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(164, 196, 154, 0.623);
  color: white;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  background-color: rgba(163, 182, 162, 0.8);
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 60%;
  text-align:end;
}

/* Number text (1/... etc) */
.numbertext {
  color: #f2f2f2;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--powder);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:var(--minty);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*PAGINA GERAL DOS DORAMAS*/

/*LISTA DE IMAGENS*/
.container-postagem {
    margin-left: 10px;
    margin-right: 10px;
}
   
ul {
    width: 100%;
    padding-left: 0px;
    text-align: center;
} 

ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 0px 2px;
    width: 20%;
    text-align: center;
}

ul li a img{
    position: relative;
    width: 70%;
    object-fit: cover;
    align-content: center ;
    margin:20px 20px;
    background-color: var(--light);
    background-size: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #CCC8C6 ;

}

.imagem:hover {
    opacity: 0.5;
}
   
.containe-postagem:hover .middle {
     opacity: 1;
   }
   
   /**/
.titulo{
    background-color: var(--light);
    font-family: 'MuseoModerno', cursive;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

/*TITULO QUANDO NÃO HÁ NADA CADASTRADO*/
.titulo-zerado{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: rosybrown;
    background-color: rgba(239, 217, 193, 0.5);
    border-radius: 70%;
    text-align: center;
    margin-top: 10%;
}

/*FOLHA DE ESTILOS*/
#divBusca{
    background-color: var(--minty);
    width:300px;
    border-radius: 50px;
    opacity: 0.8;
    box-shadow: 5px 5px 5px #CCC8C6 ;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:16px;
    border:none;
    height:32px;
    width:100px;
  }

  

  